# Nuxt build output
.nuxt
.output
dist
node_modules

# Generated and managed by the Prismic CLI
prismicio-types.d.ts
customtypes
app/slices/**/model.json
app/slices/**/mocks.json

# Sample content documents
documents
